[submodule "makeEspArduino"]
	path = makeEspArduino
	url = https://github.com/plerup/makeEspArduino
[submodule "espsoftwareserial"]
	path = espsoftwareserial
	url = https://github.com/plerup/espsoftwareserial
